<div class="spinner-container" *ngIf="isLoading">
  <div class="backdrop"></div>
  <mat-spinner></mat-spinner>
</div>
<div class="container-fluid">
  <div class="card">
    <mat-tab-group>
      <mat-tab label="วิธิใช้ยา">
        <div class="grid-container gridcss">
          <div class="grid-item">
            <div class="row">
              <div class="col">
                <h3 class="m-3">รายการวิธีใช้</h3>
              </div>
              <div class="col right">
                <mat-form-field>
                  <input matInput (keyup)="drugFilter($event)" #input />
                  <mat-placeholder>ค้นหา : </mat-placeholder>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="overflow-auto">
              <table
                mat-table
                [dataSource]="dataAllTime"
                #sortAllTime="matSort"
                matSort
                class="table"
                matSortActive=""
                matSortDirection="asc"
              >
                <ng-container matColumnDef="timecode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    รหัส
                  </th>
                  <td mat-cell *matCellDef="let element" class="">
                    <div
                      (click)="selectTime(element.timecode, element.rowNum)"
                      class="pointer"
                    >
                      {{ element.timecode }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="timeTH">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    คำอธิบาย
                  </th>
                  <td mat-cell *matCellDef="let element" class=" ">
                    <div
                      (click)="selectTime(element.timecode, element.rowNum)"
                      class="pointer"
                    >
                      {{ element.timeTH }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="timecount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    จำนวนครั้ง/วัน
                  </th>
                  <td mat-cell *matCellDef="let element" class="right">
                    <div
                      (click)="selectTime(element.timecode, element.rowNum)"
                      class="pointer"
                    >
                      {{ element.timecount }}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>แก้ไข</th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <div (click)="editTime(element)" class="edit">
                      <span class="material-icons">
                        drive_file_rename_outline
                      </span>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="del">
                  <th mat-header-cell *matHeaderCellDef>ลบ</th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <div (click)="deleteTime(element)" class="del">
                      <span class="material-icons"> delete_outline </span>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayAllTime; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayAllTime; let element"
                  class="{{ element.rowNum == selectRow ? 'bkselect' : '' }}"
                ></tr>
              </table>
            </div>
            <div class="row">
              <div class="col">
                <mat-paginator
                  #paginAllTime="matPaginator"
                  style="display: flex; justify-content: center"
                  [length]="10"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 25, 50]"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
              <div class="col-2 right">
                <button
                  type="button"
                  class="btn btn-outline-primary m-1"
                  (click)="insertTime()"
                >
                  เพิ่ม
                </button>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div>
              <h3 class="m-3">รายละเอียดวิธีใช้</h3>
            </div>
            <div class="overflow-auto">
              <table
                mat-table
                [dataSource]="dataTimeDetail"
                #sortTimeDetail="matSort"
                matSort
                class="table"
                matSortActive=""
                matSortDirection="asc"
              >
                <ng-container matColumnDef="timedetailcode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    เวลา
                  </th>
                  <td mat-cell *matCellDef="let element" class="">
                    {{ element.timedetailcode }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="timedetailTH">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    คำอธิบาย
                  </th>
                  <td mat-cell *matCellDef="let element" class="">
                    {{ element.timedetailTH }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>แก้ไข</th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <div (click)="editTimeDetail(element)" class="edit">
                      <span class="material-icons">
                        drive_file_rename_outline
                      </span>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="del">
                  <th mat-header-cell *matHeaderCellDef>ลบ</th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <div (click)="deleteTimeDetail(element)" class="del">
                      <span class="material-icons"> delete_outline </span>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayTimeDetail; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayTimeDetail"
                ></tr>
              </table>
            </div>
            <div class="row">
              <div class="col">
                <mat-paginator
                  #paginTimeDetail="matPaginator"
                  style="display: flex; justify-content: center"
                  [length]="10"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 25, 50]"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
              <div class="col-2 right">
                <button
                  type="button"
                  class="btn btn-outline-primary m-1"
                  (click)="insertTimeDetail()"
                >
                  เพิ่ม
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="timeModal"
  tabindex="-1"
  aria-labelledby="timeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="timeModalLabel">{{ timeText }}</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formTime">
          <div class="form-group">
            <label for="timecodeNew">รหัส</label>
            <input
              type="text"
              class="form-control"
              id="timecodeNew"
              formControlName="timecodeNew"
              required
            />
          </div>
          <div class="form-group">
            <label for="timeTH">คำอธิบาย</label>
            <input
              type="text"
              class="form-control"
              id="timeTH"
              formControlName="timeTH"
              required
            />
          </div>
          <div class="form-group">
            <label for="timecount">จำนวนครั้ง/วัน</label>
            <input
              type="number"
              class="form-control"
              id="timecount"
              formControlName="timecount"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ยกเลิก
        </button>
        <button
          *ngIf="timeText == 'แก้ไข'"
          type="button"
          class="btn btn-primary"
          (click)="submitUpdateTime()"
        >
          ตกลง
        </button>
        <button
          *ngIf="timeText == 'เพิ่ม'"
          type="button"
          class="btn btn-primary"
          (click)="submitInsertTime()"
        >
          ตกลง
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="timeDetailModal"
  tabindex="-1"
  aria-labelledby="timeDetailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="timeDetailModalLabel">{{ timeText }}</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formTimeDetail">
          <div class="form-group">
            <!-- <label for="">เวลา</label> -->
            <div class="row">
              <div class="col">
                <label for="timedetailcode_H_New">ชั่วโมง</label>
                <input
                  type="text"
                  class="form-control"
                  id="timedetailcode_H_New"
                  formControlName="timedetailcode_H_New"
                  maxlength="2"
                  required
                />
              </div>
              <div class="col">
                <label for="timedetailcode_M_New">นาที</label>
                <input
                  type="text"
                  class="form-control"
                  id="timedetailcode_M_New"
                  formControlName="timedetailcode_M_New"
                  maxlength="2"
                  required
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="timedetailTH">คำอธิบาย</label>
            <input
              type="text"
              class="form-control"
              id="timedetailTH"
              formControlName="timedetailTH"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ยกเลิก
        </button>
        <button
          *ngIf="timeText == 'แก้ไข'"
          type="button"
          class="btn btn-primary"
          (click)="submitUpdateTimeDetail()"
        >
          ตกลง
        </button>
        <button
          *ngIf="timeText == 'เพิ่ม'"
          type="button"
          class="btn btn-primary"
          (click)="submitInsertTimeDetail()"
        >
          ตกลง
        </button>
      </div>
    </div>
  </div>
</div>
